.section5{
    height: 100vh;

}
.big_box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-left: 13%;

}
.box_img{
width: 250px;
height: 200px;
padding-right: 20px;
}
.box_para{
font-size: 1.5rem;
padding: 10px 0;
}
.list_para{
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: 200;
}
h5{
    color: #e67e22;
    font-size: 1.3rem;
    padding: 10px 0;
}

